html, body {
  margin: 0;
  padding: 0;
  
}

canvas {
  display: block;
  position: absolute;
}

.buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.enlargeButton {
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 0.4rem;
  padding: 1rem;
}

.enlargeSize {
  position: relative;
  left: 0;
  z-index: 300;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: end;
}

